.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.bhyp {
  text-decoration: none;
}

.textHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.item2 {
  order: 1;
}
.res1 {
  order: 0;
}
.pctext {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 2px;
}
.rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
}

.hide {
  display: none;
}
.break {
  display: none;
}

@media (width < 600px) {
  .item2 {
    order: 0;
  }
  .res1 {
    order: 1;
  }
  .break {
    display: flex;
    flex-basis: 100%;
    height: 0;
  }
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.winr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.holdci {
  position: absolute;
}
.circles {
  height: 90vmin;
  position: relative;
  width: 90vmin;
  z-index: -1;
  transform: translateY(-25px);
  > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: rgb(188, 191, 229);
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 0.5s;
  }
  .circle2 {
    animation-delay: 1s;
  }
  .circle3 {
    animation-delay: 2s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@media (width < 700px) {
  .imgs {
    width: 150px;
  }
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  color: rgb(176, 51, 75);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
