$primary-color: rgb(255, 255, 255);
$secondary-color: #3e425f;
$tertiary-color: rgba(0, 0, 0, 0.5);

.bn3 {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid $primary-color;
  border-radius: 7px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $primary-color;
  background-color: transparent;
  text-shadow: 0 0.04em 0.04em rgba($primary-color, 0.253);
  text-align: center;
  transition: all 0.2s;

  &:hover {
    color: black;
    background-color: $primary-color;
  }
}

.ruleArranger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $secondary-color;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $tertiary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
